body {
  margin: 0px;
  padding: 10px;
  font-family: Tahoma;
  font-size: 11px;
}

#factory {
  display: none;
}

.widget {
  position: absolute;
  border: 1px solid lightgrey;
  -moz-border-radius: 3px;
}

.header {
  height: 20;
  padding: 2px;
  background: lightgrey;
}

.body {
  position: absolute;
  left: 0;
  top: 20;
  right: 0;
  bottom: 0;
}  

.icon {
  float: left;
  width: 16;
  height: 16;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  position: absolute;
  left: 22;
  top: 4;
  right: 45;
  bottom: 2;
  white-space: nowrap;
  overflow: hidden;
}

.title input {
  margin-left: -1px;
  margin-top: -1px;
  font: inherit;
  background: inherit;
  width: 100%;
  border: none;
}

.button {
  float: right;
  margin-left: 1px;
  width: 12px;
  height: 12px;
  background-image: url(chrome://desktop/skin/buttons.png);
}

.remove {
  background-position: 12;
}

.refresh {
  background-position: 24;
}

br {
  clear: both;
}

/* Search */

.search {
  border: none;
  width: 100%;
  height: 100%;
  padding: 2;
}

/* Thumbnail */

.thumbnail {
  display: block;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  border: none;
}

.thumbnail .throbber {
  display: none;
  width: 100%;
  height: 100%;
  background: url(chrome://desktop/skin/throbber.gif) center no-repeat;
}
